* body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    background-color: #b8aeae;
}

.box {
    width: 70%;
    height: 35vh;
    padding: 16px;       
    border: 2px solid #222; 
    border-radius: 12px; 
    background: radial-gradient(circle at top left, #0f2027, #203a43, #2c5364);    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
    margin: 12px auto; 
    margin-top: 250px;  
    text-align: left;
    align-items: center;
    justify-content: center;
}
.box p {
    font-size: 18px;
}
img {
    position: relative;
    top: -180px;     
  }
.text {
    margin-left: 20px;
    position: relative;
    top: -90px;
    color: aliceblue;
}
